*{
    margin: 0;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Poppins' sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f1eba8;
 }  

 .container{
    position: center;
    width: 400px;
    max-width: 400px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 2px 2px 5px rgba(76, 69, 52, 0.4);;
    background-image: linear-gradient(135deg, #f269ca 0, #e462cf 16.67%, #d25bd4 33.33%, #be55d8 50%, #a651dc 66.67%, #8b4fe1 83.33%, #684fe5 100%);
}

img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

#begining, .container{
    position: relative;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: center;
    padding: 0.5%;
}

.footer{
   padding: 10px;
   background-color: rgb(209, 72, 182);
   width: 100%;
   border-radius: 4px;
}
